@charset "UTF-8";

header {
	height:70px;
	background-color:#dddddd;
}

section{
	height:600px;
}

.bar {
	height:25px;
	background-color:#dddddd;
}

.full-heart{
	display : none;
}
.comment-bar {
	font-size:13px;
}

.comment {
	font-size:13px;
}

.contents > .join-box {
	width:300px;
}

.new-post-area{
	width:300px;
	
}

footer {
	height:70px;
	background-color:#dddddd;
}